@font-face{
font-family:"Helvetica-Bold";
src:url(fonts/Helvetica/HelveticaNeueCyr-Bold.otf);
}
@font-face{
font-family:"Helvetica-Light";
src:url(fonts/Helvetica/HelveticaNeueCyr-Light.otf);
	}
body
{
background-color:#eee;  
}
p{
font-family:"Helvetica-Bold";
text-aligin:center;
border-style:solid;
border-color:white;
border-width:2px;
margin:100px 100px 100px 100px;
width:10px;
}
