@font-face{
	font-family:Roboto-BoldCondensed;
	src:url(fonts/roboto/Roboto-BoldCondensed.ttf);
}
@font-face{
font-family:"HelveticaNeueCyr-Light"
src:url(fonts/Helvetica/HelveticaNeueCyr-Light.otf)
}

	
body{
	background-color:#eee;
}
header{
	border:2px solid;
	background-color:#69c;
}

/*navigation*/
.nav{
	position:fixed;
	height:50px;
	background: #69c url() 0 0 no-repeat;
	display:flex;
	list-style:none;
	top:0;
	bottom:0;
	right:0;
	left:0;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	font-family:"HelveticaNeueCyr-Light;
	}
.nav a{
	text-decoration:none;
}
.nav li{
	margin:14px 30px 20px 300px;
	font-family:Roboto-BoldCondensed;
	color:#eee;

}
.nav:hover{
	background-color:#bc1339;
	color:white;
	-moz-transition:all 2s*;
}
a li:hover{
	color:white;
}

/*video*/
.videoplayer{
}

/*footer*/
footer{
	height:50px;
	width:auto;
	background:#fff;
	position:relative;
}
