@font-face{
font-family:"Helvetica-Bold";
src:url(fonts/Helvetica/HelveticaNeueCyr-Bold.otf);
}
@font-face{
font-family:"Helvetica-Light";
src:url(fonts/Helvetica/HelveticaNeueCyr-Light.otf);
	}
body
{
background-color:#eea;  
}
.Container{
    margin:20px 0px 54px 450px;
    /*border-style:solid;*/
    width:300px;
    height:675px;
    padding:5px 5px 5px 5px;
    border-width:0.5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-color:white;
}
.Biocard {
    color:#ff3399;
 	font-size:25px;
    font-family:"Helvetica-Bold";
    padding:0px 0px 0px 10px;
}
.About{
font-family:"Helvetica-Bold";
color:#ff3399;
font-size:25px;
padding:0px 0px 0px 10px;
}
.Content{
    border-style:solid;
    border-width:1px;
    padding: 10px 10px 19px 25px;
    font-family:"Helvetica-Light";
}
img{
	width: 300px;
}
.Advice{
	font-family:"Helvetica-Bold";
color:#ff3399;
font-size:25px;
padding:0px 0px 0px 10px;
}
.Advice_container{
border-style:solid;
    border-width:1px;
    padding: 10px 10px 19px 25px;
    font-family:"Helvetica-Light";
}